<div class="content">

  <% @discount.each do |d| %>
  ID: <%= d.discountable_id %> <br>
  Type: <%= d.discountable_type %> <br>
  Discount Type: <%= d.discount_type %> <br>
  Discount Amount: <%= d.amount %> <br>
  <% end %>

</div>