<div class="content">
  <%= form_for(@order, url: admin_orders_path, method: :patch) do |form| %>

    <div class="field form-group ">
      <%= form.text_field :title, class: "form-control", placeholder: "Subcategory Title..."%>
    </div>

    <div class="actions form-group">
      <%= form.submit class: "btn btn-success"%>
      <%= link_to 'Cancel', :back, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>

