<div class="access-denied">
  <%= image_tag 'access_denied.png', height: 200  %>

  <h2>You are not allowed to access this page</h2>
  <%= link_to 'go back', :back , class: "btn btn-primary"%>
</div>
