<div>
  <div><%= image_tag ("searching.jpg"), width: 300 %></div>
  <h3>No Services Found For Your Search</h3>
  <h6>Try a new search or return back</h6>
  <div class="col-md-5"></div>
  <div class="col-md-2"><hr></div>
  <div class="col-md-5"></div>
</div>