<div class="content">
  <h3 align="center" >Add Sub-Category</h3>

  <%= form_for(@sub_category, url: admin_category_sub_categories_path, method: :post) do |form| %>
    <div class="field form-group ">
      <%= form.text_field :title, class: "form-control", placeholder: "Sub-category name" %>
    </div>
    <div>
      <%= form.submit "Add Sub-category", class: "btn btn-success" %>
      <%= link_to 'cancel', :back, class: "btn btn-danger" %>
    </div>
<% end %>

</div>
