<br>

<div align="center">
  <% if user_signed_in? %>
<%= image_tag(current_user.avatar_thumbnail) %> <br>
  <strong>Hey <%= current_user.first_name %></strong>
    <% end %>
</div>
<br><br>
<h3 align="center">Welcome to D-Box. Buy your stuffs with ease!</h3>

<% @products.each do |product| %>
  <%= product.title %>
<% end %>

<%= link_to "add product", new_product_path %>

