<div class="gratings" style="text-align: center">
  <h2>Thanks for your order</h2>
  <h4>Your product will be delivered soon.</h4>
  <%= link_to 'More shopping', products_path, class: "btn btn-warning"%>
</div>