<h3>Add Sub-Category</h3>

<%= form_for @sub_category do |form| %>
  <div class="field form-group ">
    <%= form.text_field :title,  placeholder: "Sub-category name" %>
  </div>


  <%= form.collection_select(:category_id, Category.all, :id, :title, {:prompt => "Please Select a Category"}) %>
  <br>
  <%= form.submit "Add Sub-category" %>
<% end %>