<div class="row search-form-wrapper">
  <div class="col-6">
    <%= form_with(url: admin_search_products_path, method: :post, local: true) do |f| %>
      <div class="input-group">
        <%= f.text_field :search_products, id: 'search_products', placeholder: "Search products...", class: "form-control search-input", autocomplete: "off", style: 'margin: 0' %>
        <%= f.submit "Search", class: 'search-bar-btn' %>
      </div>
      <div id="products_search_suggestion">
        <ul id="products_search_suggestion_list"></ul>
      </div>
    <% end %>
  </div>
</div>