/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel

 */


.notification {
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #ff7700;
    color: white;
}

.notification-div{
    position: absolute;
    top: 96px;
    z-index: 999;
    width: 100%;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-50{
    margin-top: 50px;
}




@media print {
    div.sidebar, div.navbar {
        display: none;
    }
    div.content{
        margin-left: -50px;
    }
}
