.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.navbar {
    font-family: Chandas;
}

.circular-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}


.dropdown-submenu {
    position: relative;
    margin-right: 500px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#search_suggestions {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 227px;
    height: auto;
    border: 2px solid #e3f2fd;
    border-radius: 4px;
    display: none;
    z-index: 1000;
}

a:hover {
    text-decoration: none;
}

#search_suggestions_list {
    list-style: none;
    position: relative;
    padding: 10px 0;
    font-size: 12px;
}

#search_suggestions_list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#search_suggestions_list li:nth-child(even) {
    display: none;
}

#search_suggestions_list li a {
    margin-left: 12px;
    margin-right: 12px;
}

#search_suggestions_list li:hover {
    background: rgba(0, 0, 0, 0.12);
}

.quantity_wrapper {
    display: flex;
    width: 60%;
}