.center-text {text-align: center}
.center-items {align-items: center}
.left-text {text-align: left}
.right-text {text-align: right}
.full-width {width: 100%}
.dropdown:hover > .dropdown-menu {
  display: block;
  width: auto;

}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.navbar {
  font-family: Chandas;
}

.circular-image {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.notification-icon {
  position: relative;
  font-size: 30px;
  color: #000000;
  //transform: rotate(340deg);

  .notification-badge {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 23px;
    height: 23px;
    top: -5px;
    right: -11px;
    padding: 7px 7px;
    border-radius: 50%;
    background: #fb0000;
    color: white;
    font-size: 9px;
    //transform: rotate(20deg);
  }
}

.notification-icon:hover {
  color: #2e3261;
}

#search_suggestions {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 227px;
  height: auto;
  border: 2px solid #e3f2fd;
  border-radius: 4px;
  display: none;
  z-index: 1000;
}

thead{
  background-color: #8fcbc4;
}
thead, tbody {
  td, th, tr {
    text-align: center;
    vertical-align: middle;
  }
}

.float_center {
  float: right;
  position: relative;
  left: -27%;
}

a {
  color: #056337;
  &:hover {
    text-decoration: none;
    color: #2f4152;
  }
}

#search_suggestions_list {
  list-style: none;
  position: relative;
  padding: 10px 0;
  font-size: 12px;
}

#search_suggestions_list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#search_suggestions_list li:nth-child(even) {
  display: none;
}

#search_suggestions_list li a {
  margin-left: 12px;
  margin-right: 12px;
}

#search_suggestions_list li:hover {
  background: rgba(0, 0, 0, 0.12);
}

.quantity_wrapper {
  display: inline-flex;
  align-items: center;

  .svg-inline--fa {
    font-size: 30px;
  }

  input {
    width: 40%;
  }

  .cart-update-btn,
  .cart-update-btn:hover,
  .cart-cancel-btn,
  .cart-cancel-btn:hover {
    display: inline-flex;
    justify-content: space-evenly;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 3px;
    outline: none;
  }

  .cart-update-btn {
    background-color: rgba(88, 158, 88, 0);
    color: #21a5c7;
  }

  .cart-update-btn:hover {
    background-color: #21a5c7;
    color: white;
  }

  .cart-cancel-btn {
    background-color: rgba(196, 33, 33, 0);
    color: #ff0000;
  }

  .cart-cancel-btn:hover {
    background-color: #ff0000;
    color: white;
  }
}

.cart_quantity {
  cursor: pointer;
}

.cart_quantity:hover {
  background-color: #d1dcdc;
}

.bdt:before {
  content: "\09F3";
}

/* Checkout  */
.checkout-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkoutbtn {
  background-color: #1d86a0;
  color: white;
  padding: 12px;
  height: 50px;
}

.cancelbtn {
  background-color: #dc3545;
  color: white;
  padding: 12px;
  height: 50px;
  width: 100%;
}

.checkoutbtn:hover {
  background-color: #45a049;
}

hr {
  border: 1px solid #659e9e;
}

.avoid_line_break {
  display: inline;
}

.reveal {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  transform: scale(0.8);
  transition: 0.5s;

  label {
    display: block;
    margin: 0 0 3px 0;
  }

  input[type=text] {
    width: 100%;
  }

  input[type="radio"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    padding: 10px 20px;
    transform: scale(1);
    overflow: visible;
  }
}

/* HIDE RADIO */
.hidden_radio [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Credit/Debit cards IMAGE STYLES */
.hidden_radio svg {
  cursor: pointer;
}

/* CHECKED STYLES */
.hidden_radio [type="radio"]:checked + svg {
  outline: 3px solid #359367;
}

.card_info {
  display: none;
}

#navbar-toggler {
  outline: none;
}

s {
  color: gray;
  text-decoration: line-through solid red;
  span {
    color: gray;
    font-weight: bold;
  }
}
.category_discount_btn, .product_discount_btn {
  display: inline-flex;
  background-color: #73d4e2;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin: 5px;
  padding: 18px;
  width: 30%;
  height: 60px;
  border-radius: 30px;
  &:hover {
    background-color: #57b185;
    cursor: pointer;
  }
}
.select_category, .select_product {
  display: none;
}


.category_banner_btn, .sub_category_banner_btn, .product_banner_btn, .without_link_banner_btn {
  display: inline-flex;
  background-color: #73d4e2;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin: 5px;
  padding: 18px;
  width: 30%;
  height: 60px;
  border-radius: 30px;
  &:hover {
    background-color: #57b185;
    cursor: pointer;
  }
}


.select_banner_for_category, .select_banner_for_sub_category, .select_banner_for_product, .select_banner_for_without_link{
  display: none;
}

.revenue_by_custom_date{
  display: none;
}

.categories-button {
  display: flex;
  align-items: center;
  text-align: center;
  border: solid #719c7f thin;
  border-radius: 3%;
  margin: 5px;
  padding: 18px;
  width: 106%;
  height: 60px;
  a {
    color: #018686;
  }
  a:hover {
    color: #c2003d;
  }
}

.col-center {
  margin: 0 auto;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .checkout-row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }

  .categories-button{
    width: 100%;
  }

}