<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to D-Box@example.com, <%= @user.first_name %></h1>
<p>
  <%= @product.details %> Has come back in stock!
</p>
<p>
  <a href="http://localhost:3000/">Follow this link to get your product</a>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>