<div class="container" style="text-align: center">
  <h3 style="color: #0f6674">Welcome <%= @user.first_name %> <%= @user.last_name %>!</h3>

  <strong><h2 style="color: #368405">Great News!</h2></strong>
  <p>
    <%= @product.product.title %> is been restocked! Grab yours before runs out of stock again.
  </p>


  <p><%= link_to 'Follow this link to get your product',@url %></p>
  <p>Thanks for being with us. Have a great day!</p>

</div>
