<h1 align="center">Categories</h1>

<table align="center">
  <thead>
  <tr>
    <th>Category name</th>
    <!--    <th>Description</th>-->
    <!--    <th>Picture</th>-->
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <%#= raise idea.user.inspect %>
    <tr>
      <td><%= link_to category.title, category %></td>
<!--      <%# if can? :update, idea %> <td><%#= link_to 'Edit', edit_idea_path(idea) %></td> <%# end %>-->
<!--      <%# if can? :destroy, idea %> <td><%#= link_to 'Delete', idea, method: :delete, data: {confirm: 'Are you sure?'} %></td> <%# end %>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

