<div class="sidebar" style="background-color: #e3f2fd;">
  <%= active_link_to "Dashboard", admin_panels_path %>
  <%= active_link_to "Orders", orders_path %>
  <%= active_link_to "Products", all_product_path %>
  <%= active_link_to "Categories", categories_path %>
</div>
