<div align="center" class="container">
  <h3 class="h3">Search Result</h3> <br> <br>

<% @results.each do |result| %>
  <%= link_to result.title, product_variant_path(result.product_variants.first) %>
<% end %>
  <% if @products.count == 0 %>
    <h4> No Product found! </h4>
  <% else %>
    <div class="row">

      <% @products.each do |product| %>
        <div class="col-md-2 col-sm-4">
          <div class="product-grid2">
            <%= link_to product_product_variant_path(product, product.product_variants.first) do %>
              <div class="product-image2">
                <%= image_tag ("mobile_demo.jpg"), class: "pic-1" %>
              </div>
              <div class="product-content">
                <p class="title"><%= product.title.truncate(50, separator: /\s/) %></p>
                <span class="price">&#x9f3; 599</span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <hr>
    </div>

  <% end %>


</div>
