<footer class="text-white text-center text-lg-start" style="background: #5e909e">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">
          Experience Personalized Online Shopping in Bangladesh with D-Box.com
        </h5>

        <p style="text-align: justify;">
          Online Shopping BD has never been easier. D-Box.com is best online shopping store
          in Bangladesh that features 10+ million products at affordable prices. As bangaldesh's
          online shopping landscape is expanding every year, online shopping in dhaka, chittagong,
          khulna, sylhet and other big cities are also gaining momentum. D-Box
          aims to make online shopping accessible to all parts of the country.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">D-Box.com</a>
  </div>
  <!-- Copyright -->
</footer>
