<div>
  <div class="row header-section">
    <div class="left-header">
      <p>Call Us: <a href="tel:+8801987926522"> +8801987926522 </a></p>
    </div>
    <div class="right-header">
      <div class="login_out-register-section">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to "Sign in",new_user_session_path, :onclick =>"document.getElementById('id01').style.display='block'" %>&nbsp/
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
