
<div class="col-lg-2">
  <ul class="navbar-nav mr-auto float-right" >
    <li class="nav-item dropdown ">
      <%= image_tag(current_user.avatar_thumbnail, class: 'circular-image float-left') %>
      <a class="navbar-brand dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </a>
      <div class="dropdown-menu float-right" aria-labelledby="navbarDropdown">
        <div class="dropdown-item-text"> <%= current_user.first_name %> </div>
        <div class="dropdown-divider"></div>
        <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </li>
  </ul>
</div>





